[tree] ul {
  margin-left: 10px;
  padding-left: 10px;
}

[tree] li {
  list-style-type: none;
  margin: 10px;
  position: relative;

  white-space: nowrap;
}

[tree] li::before {
  content: '';
  position: absolute;
  top: -7px;
  left: -10px;
  border-left: 1px solid #017e7f;
  border-bottom: 1px solid #017e7f;
  width: 10px;
  height: 15px;
}

[tree] li::after {
  position: absolute;
  content: '';
  top: 8px;
  left: -10px;
  border-left: 1px solid #017e7f;
  border-top: 1px solid #017e7f;
  width: 10px;
  height: 100%;
}

[tree] li:last-child::after {
  display: none;
}

[tree] li:last-child:before {
  border-radius: 0 0 0 4px;
}

ul[tree] > li:first-child::before {
  display: none;
}

ul[tree] > li:first-child::after {
  border-radius: 4px 0 0 0;
}
ul[tree] > li {
  font: bold 0.9em var(--theme-font);
}
ul[tree] > li li {
  font: normal 0.9em var(--theme-font);
}

ul[tree] > li > a {
  background-color: var(--secondary-color);
  color: #d0fdee;
}

[tree] li a {
  border-radius: 4px;
  padding: 2px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.8);
}

[tree] li a:hover,
[tree] li a:hover + ul li a,
[tree] li a:focus,
[tree] li a:focus + ul li a {
  background-color: rgba(115, 188, 28, 0.8);
  color: #fff;
}

[tree] li a:hover + ul li::after,
[tree] li a:focus + ul li::after,
[tree] li a:hover + ul li::before,
[tree] li a:focus + ul li::before [tree] li a:hover + ul::before,
[tree] li a:focus + ul::before [tree] li a:hover + ul ul::before,
[tree] li a:focus + ul ul::before {
  border-color: #000; /*connector color on hover*/
}
